{
  "extends": [
    "standard",
    "prettier",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["import", "mocha", "react", "react-hooks", "@typescript-eslint"],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "globals": {
    "fetch",
    "__DEV__": true
  },
  "env": {
    "mocha": true,
    "browser": true
  },
  "settings": {
    "react": {
      "version": "^18.3.1"
    }
  },
  "rules": {
    "react/prop-types": 0,
    "react/jsx-uses-vars": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.spec.{js,ts,tsx}",
          "**/test/*",
          "**/rollup.config.js"
        ],
        "optionalDependencies": false,
        "peerDependencies": true
      }
    ],
    "mocha/no-exclusive-tests": "error",
    "mocha/no-nested-tests": "error",
    "mocha/no-identical-title": "error",
    "@typesckipt-eslint/no-var-requires": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "all",
        "argsIgnorePattern": "^_",
        "caughtErrors": "all",
        "caughtErrorsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
  }
}
