{
  "extends": ["standard", "prettier", "prettier/standard"],
  "plugins": ["import", "mocha", "react"],
  "env": {
    "mocha": true
  },
  "rules": {
    "react/jsx-uses-vars": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.spec.js",
        ],
        "optionalDependencies": false,
        "peerDependencies": true
      }
    ],
    "mocha/no-exclusive-tests": "error",
    "mocha/no-nested-tests": "error",
    "mocha/no-identical-title": "error"
  }
}
